<!DOCTYPE html>
<html>
<head>

	<title></title>
</head>
<body>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h2>
<table width="720" height="20" cellspacing="5" cellpadding="5">
	<th><a href="/">Main page</a></th>
	<th><a href="/user_register.html">Create user</a></th>
	<th><a href="/main.html">Login</a></th>
</table>
</h2>	
{% block content %}

{% endblock %}
</body>
</html>