{% extends  'template.html'%}
{% block content %}
{% if session['loged'] %}

<center>
<form  method="POST">
<img src="https://raw.githubusercontent.com/entifais/MyManual/main/core/static/img/vitrubioInput.jpg">
<ol type="1">
{% for i in range(8) %}
<li class="list-group-item">
	<div>
		<h2>can touch you in {{ part_name[loop.index-1] }} , with trust level of</h2>
	<select name="{{ part_name[loop.index-1] }}">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
	</select>
</div></div>
<br>
{% endfor %}
<input type="submit" name="">
</form>
</center>


{% else %}
<h1> you need have a account</h1>
{% endif %}
{% endblock %}
