{% extends  'template.html'%}
{% block content %}
<center>
	<h1>trust levels</h1>
	<div style="max-width: 500px;">

		
	<ol type="1">
		<li><a href="trustslevel1.html"><button type="button" class="list-group-item list-group-item-action">Level 1</button></a></li>
		<li><a href="trustslevel1.html"><button type="button" class="list-group-item list-group-item-action">Level 2</button></a></li>
		<li><a href="trustslevel1.html"><button type="button" class="list-group-item list-group-item-action">Level 3</button></a></li>
		<li><a href="trustslevel1.html"><button type="button" class="list-group-item list-group-item-action">Level 4</button></a></li>
		<li><a href="trustslevel1.html"><button type="button" class="list-group-item list-group-item-action">Level 5</button></a></li>


	</ol>
	</div>
</center>
{% endblock %}